body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #333;
  background-color: #fff;
  background-image: url("../img/pattern/3.png");
}
.container {
  width: 1200px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,h2,h3, p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
  outline: none;
}
.bold {
  font-weight: bold;
}

.main-navigation {
  background-color: #1F4B99;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 8px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 101;
}
.main-navigation .container {
  position: relative;
}

.main-navigation .sfu-logo {
  display: inline-block;
  width: 65px;
  height: 59px;
  position: absolute;
  top: 0;
  left: -30px;
  border-radius: 50%;
  background-color: #fff;
  }

  .sfu-logo:hover {
    opacity: 0.7;
    transition: 1.5s;
  }


.main-navigation .navigation-list {
  width: 870px;
  margin: 0 auto;
}

.navigation-list .active-page li {
  background-color: #4672C0;
  border-radius: 25px;
}

.main-navigation .navigation-item {
  display: inline-block;
  padding: 19px 21px;
  font-size: 18px;
  font-weight: 500;
  color: #dce7f0;
}

.main-navigation .navigation-item:hover {
  background-color: #4672C0;
  border-radius: 25px;
}
.main-navigation .navigation-item:not(.activeLi):active {
  background-color: #3367C0;
  color: #fff;
}

.navigation-item.main-page-item {
  padding-left: 57px;
  position: relative;
}

.main-page-item::before {
  content: "";
  width: 57px;
  height: 57px;
  position: absolute;
  top: -5px;
  left: 0;
  transform: scale(0.7);
  background-image: url("../img/logo.png");
}

.main-header {
  width: 100%;
  padding: 45px 0;
  margin-top: 53px;
  margin-bottom: 20px;
  background-image: url("../img/fon1.jpg");
  background-position: left;
  background-repeat: round;
}
.company-name {
  display: inline-block;
  vertical-align: top;
}
.company-name  img {
  display: block;
  margin: 0 auto;
  transform: scale(1.5);
  cursor: pointer;
  transition-duration: 1s;
}

.company-name  img:hover {
  transform: rotate(-300deg) scale(1.5);

}
.company-name  img:active {
  transform: rotate(300deg) scale(1.5);
}


.main-header .company-title {
  display: inline-block;
  padding-top: 15px;
  padding-left: 30px;
  font-size: 34.5px;
  line-height: 55px;
  text-align: center;
  color: #1F4B99;
  color: #0097D5;
  vertical-align: top;
  letter-spacing: 1.5px;
}
.company-title .note {
  font-size: 30px;
  font-style: italic;
  color: #C04B04;
}

/*Слайдер*/

.slider {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

.slider .slider-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.slider-controls .slide-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 2px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
}

.slide-indicator-active {
  background-color: #fff;
}
.slide-active {
  display: block!important;
}

.slides {
  height: 500px;
  position: relative;
}

.slides .slide {
  display: none;
}
.slides .slide1 {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
  background-image: url("../img/slide5.jpg");
  background-repeat: round;
}
.slide1 .slide-text {
  width: 450px;
  position: absolute;
  bottom: 50px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #061559;
  text-align: center;
  line-height: 30px;
}
.slides .slide2 {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  border-radius: 20px;
  background-image: url("../img/slide4.jpg");
  background-repeat: round;
}
.slides .slide3 {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  border-radius: 20px;
  background-image: url("../img/slide3.jpg");
  background-repeat: round;

}

section.cathedra-news {
  padding-top: 70px;
  margin-bottom: 100px;
}
.cathedra-news .news-headline {
  margin-bottom: 50px;
  text-align: center;
  font-size: 35px;
  color: #061559;
}
.cathedra-news .news-item {
  margin-bottom: 40px;
}

.news-item .item-photo {
  display: inline-block;
  vertical-align: top;
}
.news-item .item-content {
  display: inline-block;
  width: 800px;
  padding-left: 30px;
  vertical-align: top;
}

.item-content .content-headline {
  padding-top: 10px;
  padding-bottom: 17px;
  color: #2a6496;
  font-size: 23px;
}
.item-content .content-text {
  width: 700px;
  padding-bottom: 12px;
  color: #363636;
  line-height: 21px;
  font-size: 18px;
}
.item-content .content-event {
  color: #363636;
  font-size: 19px;
  font-weight: bold;
}
.content-event .weekday {
  font-weight: normal;
}

.about-cathedra {
  padding-top: 80px;
}

.cathedra-title {
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  color: #061559;
}

.cathedra-text {
display: inline-block;
width: 870px;
font-size: 20px;
line-height: 33px;
text-align: left;
margin-bottom: 60px;
margin-right: 70px;
vertical-align: top;
}



#calendar {
  display: inline-block;
  width: 200px;
  height: 200px;
  vertical-align: top;
}
#calendar .date {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}
#calendar table {
  border-collapse: collapse;
}

#calendar td,
#calendar th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

#calendar th {
  font-weight: bold;
  background-color: #E6E6E6;
}




footer.main-footer {
  width: 100%;
  padding-bottom: 100px;
  background: url("../img/footer_bg.jpg") repeat-x center;
}
.main-footer .container {
  padding-top: 70px;
}

.main-footer .footer-logos {
  display: inline-block;
  width: 580px;
  margin-right: 270px;
}

.footer-logos .footer-logo {
  display: inline-block;
  width: 150px;
  margin-right: 30px;
  vertical-align: top;
}

.footer-logo:hover img{
  opacity: 0.7;
}
.footer-logo:hover  .logo-description {
  text-decoration: underline;
}

.footer-logo .logo-description {
  width: 150px;
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  color: #fff;
}

.footer-contacts {
  display: inline-block;
  padding-top: 15px;
  vertical-align: top;
  width: 300px;
}
.footer-contacts .contacts-name {
  margin-bottom: 25px;
  color: #fff;
  font-size: 21px;
  }
.footer-contacts .contacts-title {
  color: #b4bbc2;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  padding-right: 15px;
}

.footer-contacts .adress {
  margin-bottom: 15px;
  color: #b4bbc2;
  line-height: 21px;
}

.footer-contacts .email,
.footer-contacts .phone {
  margin-bottom: 15px;
  font-size: 16px;
  color: #23527c;
}

/*Education-page*/

.main-education .container {
  padding-top: 50px;
}

.enrolling-title {
  padding-bottom: 40px;
  color: rgb(6, 21, 89);
  font-size: 35px;
}
.enrolling-table {
  width: 900px;
  margin-bottom: 60px;
  margin-left: 60px;
  border: 2px solid #000;
}
.enrolling-table-row:nth-child(1),
.enrolling-table-row:nth-child(4) {
  border-bottom: 2px solid #000;
}
.enrolling-table th {
  background-color: #E0E0FA;
  font-size: 15px;
}

.enrolling-table th,
.enrolling-table td {
  padding: 10px 10px;
  border: 1px solid #000;
  text-align: center;
}

.main-education .education-title {
  font-size: 40px;
  padding-bottom: 90px;
  color: #061559;
}
.main-education a.direction {
  font-size: 20px;
  color: #091E80;
  text-decoration: none;
}
.main-education a.direction:hover {
   color: #88A3E4;
}
 .main-education a.direction:active {
    color: #4672C0;
  }

.main-education a.direction h3 {
  padding-bottom: 50px;
}

.main-education  .direction-text {
  font-size: 18px;
  line-height: 29px;
  padding-left: 30px;
  margin-bottom: 50px;
}

/*Education-direction-pages*/
.direction-title {
padding-bottom: 60px;
font-size: 31px;
 color: #061559;
}
.education-programm {
  padding-left: 20px;
}
.education-programm .direction-programm {
  padding-bottom: 40px;
  font-size: 23px;
  color: #3251B8;
}
.education-programm .programm-lider {
  width: 930px;
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 33px;
  text-align: left;
}
.education-programm .programm-period {
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 33px;
}

.about-programm {
  padding-left: 20px;
}

.about-programm > li {
  padding-left: 30px;
  padding-bottom: 50px;
}
.about-programm .programm-languages {
  font-size: 18px;
}

.about-programm .programm-description-list {
  padding-left: 40px;
  list-style:circle;
}
.programm-title {
  padding-bottom: 50px;
  font-size: 25px;
}
.programm-description-list  .programm-description-item {
  margin-bottom: 45px;
}
.programm-description-item .item-title {
  font-size: 20px;
  padding-bottom: 15px;
}
.programm-description-item .item-text {
  width: 800px;
  font-size: 18px;
  padding-left: 20px;
  line-height: 31px;
}

.about-programm-item .programm-content {
  width: 950px;
  padding-left: 40px;
  font-size: 18px;
  line-height: 31px;
}

.direction-list-title {
  padding-top: 30px;
  padding-left: 35px;
  padding-bottom: 35px;
  font-size: 21px;
}
.direction-list {
  padding-left: 80px;
  padding-bottom: 25px;
  list-style: circle;
}

.direction-list-item {
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 25px;
}
p.programm-period + ul.direction-list {
  list-style: disc;
}

.direction-list .sub-list {
  padding-left: 30px;
  list-style: circle;
}
.direction-list a {
  color: #081C77;
  text-decoration: underline;
}

.sub-list-item {
  padding: 11px 5px;
  line-height: 27px;
}
.sub-list-item:first-child {
  padding-top: 18px;
}
.sub-paragraph {
  padding-left: 25px;
  padding-bottom: 35px;
  font-size: 17px;
  line-height: 24px;
}
.additional-paragraph {
  padding: 20px 0px 30px 35px;
  font-size: 18px;
  line-height: 26px;

}
.short-contains .item-text {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 20px;
  line-height: 27px;
}

/*Workers-page*/

.workers-title {
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 90px;
  color: #061559;
}
.workers-table {
  width: 100%;
  padding-left: 30px;
  margin-bottom: 70px;
}
.workers-table-row {
  border: 1px solid #000;
}
.workers-table-row td a {
  display: block;
  width: 100%;
  padding: 15px 45px;
  font-size: 18px;
  color: #000;
  letter-spacing: 1px;

}
.workers-table-row td:hover {
  background-color: #D5D5F9;
}
.workers-table-row td:active {
  opacity: 0.7;
}

/*Workers*/

.worker-main {
  padding-top: 25px;
  padding-left: 30px;
}
.worker-photo {
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  vertical-align: top;
  overflow: hidden;
}
.worker-about {
  display: inline-block;
  padding-top: 10px;
  padding-left: 50px;
  font-size: 18px;
  vertical-align: top;
}
.worker-profession {
  font-size: 20px;
  margin-bottom: 35px;
}
.worker-profession .worker-place {
  color: #3571F9;
  text-decoration: underline;
}
.worker-profession .worker-place:hover {
  color: #0606C9;
}
.worker-profession .worker-place:active {
  opacity: 0.6;
}
.worker-position {
  padding-top: 20px;
  padding-bottom: 20px;
}

.worker-contacts .working-adress {
  font-size: 20px;
  margin-bottom: 35px;
}
.worker-contacts .worker-email {
  font-size: 20px;
  font-weight: bolder;
}
.worker-email .email {
  color: #0F0FE4;
}
.worker-additional-title{
  margin-bottom: 20px;
  padding-top: 30px;
  font-weight: normal;
  padding-left: 15px;
  color: #5C45E4;
  font-size: 21px;
}
.worker-additional-information {
  line-height: 30px;
  font-size: 18px;
  padding-left: 40px;
  color: black;
}
.science-interests,
.science-courses {
  font-size: 16px;
}

.common-information {
  padding-left: 30px;
  padding-bottom: 50px;
  font-size: 18px;
  line-height: 33px;
}

p.worker-list-name {
  padding-top: 20px;
  padding-bottom: 10px;
}
ul.worker-education {
  list-style: circle;
  padding-left: 50px;
}
[class^="science-"] {
  width: 650px;
  padding-top: 25px;
}
.labour-list {
  font-size: 16px;
  list-style: disc;
  padding-left: 50px;
  margin-bottom: 40px;
}
.labour-list li {
  padding: 5px 0;
}
